// Colors
$amber: #d4a842;

// Foundation grid
@import "../libs/foundation/foundation.css";

// Media queries
@mixin breakpoint($point) {
  @if $point == medium {
    @media (min-width: 40.063em) { @content; }
  }
  @else if $point == large {
    @media (min-width: 64.063em) { @content; }
  }
}

body {
  background-color: #fff;
  color: #333;
  font: {
    family: 'PT Sans', sans-serif;
    size: 100%;
  }
  margin: 0; 
  padding: 0;
}

h1, h2, h3 {
  font: {
    family: 'Roboto Slab', serif;
    weight: 300;
  }
}
h1 {
  font-size: 2rem;
}

.sidebar {
  background: $amber url(/images/bubbles.png) center top no-repeat;
  background-size: 100%;
  padding: 1.5rem;
  width: 100%;
  h1 {
    background: url(/images/logo.png) center top no-repeat;
    background-size: 75px;
    color: #fff;
    padding-top: 85px;
    margin-top: 20px;
    text-align: center;
  }

  @include breakpoint(medium) { 
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 300px;
  }
}

.pri-nav {
  margin-top: 3rem;
  a {
    color: #fff;
    display: block;
    font-size: 1.125rem;
    margin: 0.25rem 0;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;

    &:hover, &.active {
      background-color: #fff;
      border-radius: 3px;
      color: $amber;
    }
  }
}

.main-container {
  padding: 2rem;
 
  @include breakpoint(medium) { 
    margin-left: 300px;
  }
}

.beer {
  border: 1px solid #ddd;
  float: left;
  max-height: 250px;
  overflow-y: scroll;
  padding: 1.5rem;
  width: 100%;
  h3 {
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
  }
  img {
    float: left;
    margin: {
      right: 1rem;
      bottom: 0.5rem;
    }
  }
}
.beer__description {
  clear: left;
}