<h2>My Beers</h2>
<img src="/images/spinner.gif" alt="" class="loader" loading-indicator>
<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
  <li ng-repeat="beer in beers.myBeers" >
    <div class="beer">
      <img ng-show="beer.data.labels.icon" src="{{ beer.data.labels.icon }}">
      <h3>{{ beer.data.name }}</h3>
      <p class="beer__description">{{ beer.data.description }}</p>
      <button ng-click="removeBeer(beer._id)">Remove from My Beers</button>
    </div>
  </li>
</ul>